.form-container {
    margin: 10px;
}
input {
    margin: 5px;
}
textarea, .rating {
    width: 30rem;
}

textarea {
    height: 5rem;
    font-family: Roboto;
}

.sendButton {
    padding: 0.5rem;
    border: none;
    border-radius: 10%;
    color: white;
    background-color: #32accd;
}